<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="94" fxFlex.gt-sm="80" class="train-banner mat-elevation-z12">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div fxFlex>
        <h1 class="mat-display-4 banner-txt">
          <em>Thank You</em>
        </h1>
        <h1 class="mat-display-3 banner-txt">
          <em>We look forward to meeting you</em>
        </h1>
      </div>
    </div>
  </div>
</div>